.chart-container{
    margin: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width:300px) and (max-width: 799px) {
    .chart-container{
        display: flex;
        width: 300px;
        margin: 1rem auto;
        flex-direction: column;
        align-items: center;
    }
}