.container-info{
    display: flex;
    justify-content: center;
}

.container-info div {
    margin: 2rem 1rem;
    padding: 2rem;
    border: 1px solid #c7c7c7;
    width: 16.7vw;
    border-radius: 1rem;
}

.container-info div  h4{
    margin-bottom: 2.5rem;
}

.container-info div .p-num{
    font-size: x-large;
    font-weight: bolder;
}

.saldo, .economia{
    color: black;
}

.receita {
    color: green;
}

.despesa {
    color: red;
}


.p-info{
    margin-top: 0.5rem;
    color: #6d6d6d;
}

.saldo-info{
    color: green;
}

.container-graficos{
    display: flex;
    justify-content: center;
}
.container-graficos p, h3{
    margin-top: 10px;
}
.tendencia-mensal, .despesa-categoria{
    padding: 1rem;
    margin: 1rem;
    width: 42%;
    height: 500px;
    border: 1px solid #c7c7c7;
    border-radius: 15px;
}

.grafico-div{
    width: 100%;
}
.orçamentoXrealizado{
    margin: 1rem auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.container{
    border: 1px solid #c7c7c7;    
    width: 87vw;
    border-radius: 15px;
    padding: 1rem;

}

.orçamentoXrealizado p{
    font-weight: bold;
    color: #6d6d6d;
    margin-top: 1rem;
    
}


@media (min-width:300px) and (max-width: 799px) {
    .container-info{
        flex-direction: column;
    }

    .container-info div {
        width: 70vw;
    }

    .container-graficos{
        flex-direction: column;
    }
    .tendencia-mensal, .despesa-categoria{
        width: 80vw;
        height: 500px;

    }
}