.container-maior{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.historico-container{
    border: 1px solid #c7c7c7;
    width: 80%;
    margin: 2rem;
    padding: 2rem;
    border-radius: 1rem;
}

.transicoes{
    border: 1px solid #c7c7c7;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
}