.transacoes-container{
    margin: 2rem auto;
    border: 1px solid #c7c7c7;
    padding: 2rem;
    border-radius: 16px;
    width: 85vw;
}

.transacoes-container h3 {
    margin: 7px 2rem;
}

.transacoes-container p {
    margin: 7px 2rem;
    color: #868686;
}


.buttons-container{
    background-color: #e2e2e2;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    margin: 7px 2rem;
}

.buttons-container button{
    width: 48%;
    padding: 0.4rem;
    border: none;
    background-color: #e2e2e2;
    cursor: pointer;
    border-radius: 15px;
    margin: 5px;
}

.buttons-container button:hover{
    background-color: #f1f1f1;
}

.infos-container select{
    width: 95%;
}
.infos-container input {
    width: 93.5%;
}


.infos-container select, input {
    margin: 7px 2rem;
    padding: 0.5rem;
    background-color: #e2e2e2;
    cursor: pointer;
    border: none;
    border-radius: 15px;
}

.buttons{
    margin: 7px 2rem;
    width: 95%;
}

.buttons button{
    width: 100%;
    border: none;
    padding: 0.8rem;
    cursor: pointer;
    background-color: black;
    color: #fff;
    border-radius: 15px;
    font-weight: bold;
    font-size: medium;
}