.orcamentos-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5rem;
}

.adicionar-orcamento-div{
    width: 88%;
    display: flex;
    flex-direction: column;
    border: 1px solid #c7c7c7;
    padding: 1.5rem;
    border-radius: 16px;
}

.mensagem-orcamento{
    margin-bottom: 5px;
    color: #9b9b9b;
}

.adicionar-orcamento-div h3{
    margin-bottom: 10px;
}

.adicionar-orcamento-div .subtitulo{
    margin-bottom: 1.5rem;
}

.p-info-orcamento{
    font-weight: bolder;
    margin-bottom: 10px;
}

.orcamentos-select, .orcamento-input{
    margin-bottom: 10px;
    padding: 0.6rem;
    background-color: #e2e2e2;
    cursor: pointer;
    border: none;
    border-radius: 15px;
}

.orcamento-button{
    border-radius: 15px;
    padding: 0.6rem;
    margin-top: 10px;
    background-color: black;
    color: #fff;
    font-weight: bolder;
    cursor: pointer;
}

/* */

.ativos-div{
    margin-top: 1rem;
    border: 1px solid #c7c7c7;
    padding: 1rem;
    width: 89%;
    display: flex;
    flex-direction: column;
    border-radius: 16px;

}

.span-div{
    display: flex;
    justify-content: space-between;
}

.input-range {
    width: 100%;
    accent-color: black;
}

.input-range::-webkit-slider-thumb {
   -webkit-appearance: none; /* Remove a aparência padrão no Chrome/Safari/Edge */
    appearance: none;
    visibility: hidden;      /* Esconde a bolinha */
    width: 0;                /* Remove o espaço ocupado por ela */
    height: 0;
}

.input-range::-moz-range-thumb {
    visibility: hidden;      /* Esconde a bolinha no Firefox */
    width: 0;
    height: 0;
}

.orcamento-div2{
    display: flex;
    justify-content: space-between;
}

.orcamento-container{
    border: 1px solid #c7c7c7;
    padding: 1rem;
    margin: 15px 0;
    border-radius: 16px;
    
}

.span-valor-orcamento {
    color: #707070;
}

.p-valor {
    color: rgb(10, 155, 10);
}

.orcamento-container h4::first-letter{
    text-transform: uppercase;
}

.orcamento-container h4 {
    margin: 10px 0 13px 0;
}

.orcamento-container span, p, img {
    margin: 7px 0;
}

.h4-img-div {
    display: flex;
    justify-content: space-between;
}

.lixeira-img{
    width: 23px;
    height: 20px;
    cursor: pointer;
}

.p-porcentagem {
    color: #858585;

}
